---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig } from "@/site.config";

const socialLinks = [
	{ title: "Google Scholar", href: "https://scholar.google.com/citations?hl=en&user=cX-zhzAAAAAJ" },
	{ title: "LinkedIn", href: "https://www.linkedin.com/in/youngsangchoi" },
	{ title: "GitHub", href: "https://github.com/youngsangchoi" },
];
---

<header
	class="group relative mb-6 flex items-center justify-between py-4 sm:mb-12"
	id="main-header"
>
	<a aria-current="page" class="text-lg font-bold sm:text-2xl" href="/">
		{siteConfig.title}
	</a>

	<div class="hidden items-center gap-4 sm:flex">
		<nav class="divide-accent flex divide-x">
			{
				socialLinks.map((link) => (
					<a
						class="text-accent px-4 text-base font-semibold hover:underline hover:underline-offset-4"
						href={link.href}
						target="_blank"
						rel="noopener noreferrer"
					>
						{link.title}
					</a>
				))
			}
		</nav>
		<ThemeToggle />
	</div>

	<div class="flex items-center gap-2 sm:hidden">
		<ThemeToggle />

		<button
			id="mobile-menu-btn"
			class="group border-accent/20 bg-accent/5 relative h-9 w-9 border"
			aria-label="Toggle Menu"
		>
			<svg
				class="absolute top-1/2 left-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 transition-opacity group-[.menu-open]:opacity-0"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
			<svg
				class="absolute top-1/2 left-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 opacity-0 transition-opacity group-[.menu-open]:opacity-100"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
			>
				<path
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					d="M6 18L18 6M6 6l12 12"></path>
			</svg>
		</button>
	</div>

	<nav
		id="mobile-menu"
		class="border-accent/20 bg-global-bg absolute top-full left-0 z-50 hidden w-full flex-col border shadow-xl group-[.menu-open]:flex"
	>
		{
			socialLinks.map((link) => (
				<a
					class="text-accent hover:bg-accent/5 py-3 text-center text-sm font-semibold"
					href={link.href}
					target="_blank"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</header>

<script>
	const btn = document.getElementById("mobile-menu-btn");
	const header = document.getElementById("main-header");

	btn?.addEventListener("click", () => {
		header?.classList.toggle("menu-open");
	});
</script>
