---
import ThemeToggle from "@/components/ThemeToggle.astro";
import { siteConfig } from "@/site.config";

const socialLinks = [
	{ title: "CV", href: "/young_sang_choi_cv.pdf" },
	{ title: "Google Scholar", href: "https://scholar.google.com/citations?hl=en&user=cX-zhzAAAAAJ" },
	{ title: "LinkedIn", href: "https://www.linkedin.com/in/youngsangchoi" },
	{ title: "GitHub", href: "https://github.com/youngsangchoi" },
];
---

<header
	class="group relative mb-6 flex items-center justify-between py-4 sm:mb-12"
	id="main-header"
>
	<a aria-current="page" class="text-lg font-bold sm:text-2xl" href="/">
		{siteConfig.title}
	</a>

	<div class="hidden items-center gap-4 sm:flex">
		<nav class="flex items-center gap-x-5">
			{
				socialLinks.map((link) => (
					<a
						class="text-accent text-base font-semibold hover:underline hover:underline-offset-4"
						href={link.href}
						target="_blank"
						rel="noopener noreferrer"
					>
						{link.title}
					</a>
				))
			}
		</nav>
		<ThemeToggle />
	</div>

	<div class="flex items-center gap-4 sm:hidden">
		<ThemeToggle />

		<button
			id="mobile-menu-btn"
			class="group border-accent/20 bg-accent/5 relative flex h-9 w-auto items-center justify-center border px-4"
			aria-label="Toggle Menu"
		>
			<span
				class="text-accent text-sm font-bold tracking-widest uppercase group-[.menu-open]:opacity-50"
			>
				Links
			</span>
		</button>
	</div>

	<nav
		id="mobile-menu"
		class="border-accent/20 bg-global-bg absolute top-full left-0 z-50 hidden w-full flex-col border shadow-xl group-[.menu-open]:flex"
	>
		{
			socialLinks.map((link) => (
				<a
					class="text-accent hover:bg-accent/5 py-3 text-center text-sm font-semibold"
					href={link.href}
					target="_blank"
				>
					{link.title}
				</a>
			))
		}
	</nav>
</header>

<script>
	const btn = document.getElementById("mobile-menu-btn");
	const header = document.getElementById("main-header");

	btn?.addEventListener("click", () => {
		header?.classList.toggle("menu-open");
	});
</script>
